<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EW481X</title>
    <link rel="stylesheet" href="/static/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/libraries/jquery-3.4.1.min.js"></script>
    <script src="/static/libraries/popper.min.js"></script>
    <script src="/static/libraries/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary p-1">
        <a class="navbar-brand p-1" href="/">
            <img src="/static/images/WRCLogo.png" id="usna_crest" class='image-fluid' alt="">
            <!-- comment is here!! -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item {%if request.path == '/schedule'%}active{%endif%}">
                    <a class="nav-link" href="/schedule">Schedule</a>
                </li> -->
                <li class="nav-item {%if request.path == url_for('index')%}active{%endif%}"">
                    <a class=" nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link" href="https://usna.blackboard.com">Blackboard</a>
                </li>
            </ul>
            <span class="navbar-text">
                <h5 id='courseTitle'>EW481X</h5>
            </span>
        </div>
    </nav>


    <!-- <div class="progress m-3 w-50 mx-auto">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div> -->


    <div class="m-2 container-fluid">
        {% block content %}
        {% endblock %}
    </div>




</body>

</html>