{%extends "base.html"%}


{%block content%}

<h3 class="text-center">Supervised Neural Network for Jodels</h3>
<h5 class="text-center">A LSTM (Long Short Term Memory) Supervised Learning Lab</h5>

<!-- Button trigger modal -->
<button id="modalBtn" type="button" class="d-none btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Machine Learning Result:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

<form>
  <div class="form-row">
    <div class="col-9">
      <input id="newInput" name="comment" type="text" class="form-control" placeholder="jodel post">
    </div>
    <div class="col-2">
      <select id="newOutput" name="output" type="text" class="custom-select form-control" placeholder="output">
        <option value="">-</option>
        <option value="happy">happy</option>
        <option value="sad">sad</option>
      </select>
    </div>
    <div class="col-1">
      <button id='addBtn' class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
<h5 id="confirm_add" class=" mt-1 text-center text-primary d-none">Added</h5>

<div class="container text-center">


</div>


<div id="trainingDiv" class="my-3 container">


</div>

<div class="container my-3 text-center">
  <label for="iterations">Training Iterations:</label>
  <input name='iterations' value='500' type="text" id="iterationsInput">
  <button id="trainBtn" class="btn btn-danger">Train Network</button>
  <div class="row my-3">
    <div class="input-group mb-3">
      <input id="testText" type="text" class="form-control" value="I'm really enjoying my time at the Academy">
      <div class="input-group-append">
        <button id="testBtn" class="btn btn-success" type="button">Test Sentiment</button>
      </div>
    </div>



  </div>
  <h3 id='brainOutput' class='text-primary'></h1>
  <h4 id='counter' class='text-primary'></h4>
  <textarea id="JSONTextArea" cols="100" rows="10" placeholder="Insert pre-trained JSON net here"></textarea>
  <br>
  <button class="btn btn-primary" href="static/trainedNet_2.txt"
  
  onclick="fillModel()" >Load a pretrained model & Evaluate all Jodels</button>
  
  <button id="resultBtn" class="btn btn-success" type="button">View Network Image</button>
  <div class="d-flex justify-content-center" id="resultDiv">
  
  </div>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="static/brain-examples/brain-browser.min.js"></script>
<script src="static/brain-examples/to-svg.js"></script>
<script src="static/brain-examples/brainJS.js"></script>


{% endblock %}